@media (max-width: 1023px) and (min-width: 600px) {
  main{
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            ". head ."
            ". content ."
            ". foot .";
  }

  header{
    position: relative;
    height: 150px;
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 200px 1fr 380px  1fr;
    grid-template-rows: 55px 35px 25px 55px;
    grid-template-areas:
            ". . . .  . ."
            ". title . nav . ."
            ". entry . . . ."
            ". . . . . .";
  }

  .lang{
    display: none;
  }

  article{
    position: relative;
    height: 1350px;
    grid-area: content;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 215px 400px 555px 180px;
    grid-template-areas:
            "mount"
            "sec"
            "laptop"
            "donate";
  }

  .main-pic{
    position: relative;
    grid-area: mount;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 50px 100px 20px 65px 20px;
    grid-template-areas:
            ". .   ."
            ". text   ."
            ". .  ."
            ". button   ."
            ". .   .";
  }

  .main-pic > img{
    position: absolute;
    width: 600px;
  }
  .main-social{
    display: none;
  }
  .main-text > .title{
    margin-left: 15%;
    margin-top: -30px;
    font-size: 25pt;
  }
  .main-text > .text{
    margin-left: 31%;
    margin-top: -50px;
    font-size: 18pt;
    color: #636362;
  }
  .main-text > .text > span{
    font-size: 18pt;
  }
  .create{
    margin-top: 10px;
    height: 40px;
  }
  .apple{
    display: none;
  }
  .google{
    display: none;
  }
  .main-button > .button-gradient{
    display: none;
  }


  .security{
    position: relative;
    grid-area: sec;
    display: grid;
    grid-template-columns: 10px 50px 90px 120px 10px 50px 38px auto 50px 137px  1fr;
    grid-template-rows: 50px 35px 60px 35px 60px 35px 45px 40px 40px;
  }

  .swiss-text{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .encrypt-pic{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .encrypt-headline{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .encrypt-slogan{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .encrypt-text{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .anonymous-pic{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  .anonymous-headline{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .anonymous-slogan{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .anonymous-text{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .security-headline{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .security-headline > p{
    font-size: 28pt;
  }
  .security-text{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  .security-text > p{
    margin-top: 10px;
    font-size: 11pt;
  }
  .security-text > p:last-of-type{
    margin-left: 4px;
    margin-top: -18px;
    font-size: 11pt;
  }

  .security-line{
    display: none;
  }
  .security-line2{
    display: none;
  }
  .security-line3{
    display: none;
  }
  .security-line4{
    display: none;
  }
  .security-slogan{
    display: none;
  }

  .laptop-box{
    position: relative;
    grid-area: laptop;
    display: grid;
    grid-template-columns: 20px 40px 190px 50px 250px 140px 10px;
    grid-template-rows: 80px 50px 40px 30px 80px 50px 70px 70px 95px 10px;

    background-image: url("assets/laptop.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }

  .laptop-icons{
    display: none;
  }
  .laptop-slide{
    display: none;
  }
  .laptop-quote{
    display: none;
  }
  .laptop-caption{
    display: none;
  }
  .laptop-text > div{
    display: none;
  }
  .laptop-text > div:after{
    display: none;
  }
  .laptop-headline{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .laptop-text{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .laptop-button{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .laptop-text > pre{
    text-align: left;
  }
  .laptop-line{
    display: none;
  }

  footer{
    position: relative;
    height: 450px;
    grid-area: foot;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
            ". f-cont .";
  }
  .foot-content{
    position: relative;
    grid-area: f-cont;
    display: grid;
    grid-template-columns: 1px 1px  1px 80px 70px  50px 100px 50px 80px 85px 5px;
    grid-template-rows: 40px 1px  30px 110px 40px 135px 30px 30px 20px;
    border: none;
  }
  .foot-line{
    display: none;
  }
  .foot-slogan{
    display: none;
  }
  .foot-icons{
    display: none;
  }
  .foot-mail{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  .foot-company{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .foot-legal{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .foot-neutron{
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .foot-social{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .foot-copyright{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .foot-line1{
    display: none;;
  }
  .foot-line2{
    display: none;
  }

  .foot-mail > div{
   display: none;
  }
}
