.object{
  width: 220px;
  height: 220px;
  background-color: lightgray;
}

.color-tools{
  width: 220px;
  height: 110px;
  border: 1px solid lightgray;
}

.position-tools{
   width: 220px;
   height: 110px;
   border: 1px solid lightgray;
 }

.change-color{
  width: 220px;
  height: 110px;
  border: 1px solid lightgray;
}

.palette-color{
  width: 220px;
  height: 110px;
  border: 1px solid lightgray;
}

.fas{
  color: #848484;
  margin-right: 30px;
  margin-left: 20px;
  font-size: 20px;
}

span{
  color: #848484;
  font-family: Gadugi;
  font-weight: 500;
  font-size: 15px;
}

p{
  display: inline-block;
  color: #848484;
  font-family: Gadugi;
  font-weight: 500;
  font-size: 15px;
}

.tools-button{
  width: 220px;
  height: 55px;
  background-color: white;
  border: none;
  text-align: left;
}
button:focus {
  outline: none;
}

.circle{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #848484;
  margin: 20px 30px 0 23px;
}

.circle2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #848484;
  margin-left: 23px;
  margin-top: 18px;
}

.cur-col{
  position: absolute;
  left: 72px;
  top: 5px;
}

.prev-col{
  position: absolute;
  left: 72px;
  top: 53px;
}

.palette-color{
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(2, 50px);
  grid-gap: 1fr;
}
